
<div class="jumbotron" height:70px>
  <h1><- Buy sweet homes ! Make your dream better -></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src ="./assets/home-4.jpeg" class="img-thumbnail">
      <label>
        <button class="btn btn-danger" type="submit">Sale!! Click for more details</button>
      </label>
    </div>
    <div class="col-sm-4">
      <img src="./assets/home-2.jpeg" class="img-thumbnail">
      <button class="btn btn-info" type ="submit">Buy</button>
    </div>
    <div class="col-sm-4">
      <img src="./assets/home-3.jpeg" class="img-thumbnail">
      <button class="btn btn-warning" type ="submit">Buy now! 20% Discount!</button>
    </div>
  </div>
  
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <img src ="./assets/home-8.jpeg" class="img-thumbnail">
      <label>
        <button class="btn btn-info" type="submit">Buy</button>
      </label>
    </div>
    <div class="col-sm-4">
      <img src="./assets/home-9.jpeg" class="img-thumbnail">
      <button class="btn btn-danger" type ="submit">Hot Sale !!</button>
    </div>
    <div class="col-sm-4" >
      <img src="./assets/home-10.jpeg" class="img-thumbnail">
      <button class="btn btn-info" type ="submit">Buy</button>
    </div>
  </div>
</div>
<hr>
